.change-style {
  margin: 20px auto;
  width: 600px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
}

button {
  font-size: 18px;
  height: 30px;
  margin-right: 20px;
  width: 120px;
}

b {
  margin-right: 10px;
}

span {
  margin-right: 40px;
}

.item:nth-child(n + 3) span {
  display: block;
}
