.container {
  display: flex;
  width: 60%;
  margin: 100px auto;
  border: 2px dashed gray;
}

.left {
  width: 250px;
  height: 300px;
  margin-right: 20px;
  flex: none;
  background: lawngreen;
}

.right {
  height: 300px;
  flex: auto;
  background: lightcoral;
}
