.container {
  width: 60%;
  margin: 100px auto;
  border: 2px dashed gray;
  position: relative;
}

.left {
  width: 30%;
  height: 300px;
  position: absolute;
  background: lawngreen;
}

.right {
  width: 70%;
  height: 300px;
  margin-left: 30%;
  background: lightcoral;
}
